header {
    border-bottom: 1px solid rgba(0,0,0,.0975);
    padding-bottom: 15px;
}

.logos {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.camera {
    padding-top: 2px;
    width: 55px;
    height: 60px;
}

.line {
    height: 45px;
    padding-top: 17px;
    padding-left: 5px;
    width: 4px;
}

.text {
    height: 40px;
    width: 100px;
    padding-left: 17px;
    padding-top: 17px;
}

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 19px;
    padding-left: 100px;
    padding-right: 100px;
}

input {
    width: 180px;
    height: 20px;
    border-radius: 3%;
    text-align: center;
    border: 1px solid;
    font-weight: 3px;
    color: #999;
    cursor: text;
    display: inline;
    background: #fafafa;
}

.threeIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    margin-left: 200px;
}

.compass {
    padding-top: 1px;
    height: 60px;
    width: 55px;
}

.heart {
    padding-top: 2px;
    height: 60px;
    width: 55px;
}

.profile {
    padding-top: 2px;
    height: 60px;
    width: 55px;
}